.shop{
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 20px;
}
.shop-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.order-details{
    text-align: start;
    background-color: rgba(255, 191, 71, 0.514);
    width: 320px;
    padding: 20px;
}