body {
  background-color: #212529;
  color: #fff;
}

.App {
  text-align: center;
}

.notfound {
  background-color: #05084B;
}

.notfounds {
  background-color: #05084B;
  height: 400px;
  width: 100%;
}